- name: Configure User Directories
  hosts: localhost
  become: true
  vars_files:
    - vars/disk-vars.yml
  vars_prompt:
    - name: user_name
      prompt: User name
      private: false
  vars:
    data_dir: "{{ data_disk_path }}/{{ user_name }}"
  tasks:
    - name: Create Data Directory
      ansible.builtin.file:
        name: "{{ data_dir }}"
        state: directory
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: u=rwx,g=,o=

    - name: Create User Directories
      become: true
      become_user: "{{ user_name }}"
      ansible.builtin.file:
        name: "{{ data_dir }}/{{ item }}"
        state: directory
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: u=rwx,g=,o=
      loop:
        - Skrivebord
        - Nedlastinger
        - Maler
        - Dokumenter
        - Musikk
        - Bilder
        - Videoklipp
        - Offentlig

    # Required for configuring user directories.
    - name: Create Config Directory
      become: true
      become_user: "{{ user_name }}"
      ansible.builtin.file:
        name: ~/.config
        state: directory
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: u=rwx,g=,o=

    - name: Configure User Directories
      become: true
      become_user: "{{ user_name }}"
      ansible.builtin.copy:
        content: |
          # This file is written by xdg-user-dirs-update
          # If you want to change or add directories, just edit the line you're
          # interested in. All local changes will be retained on the next run.
          # Format is XDG_xxx_DIR="$HOME/yyy", where yyy is a shell-escaped
          # homedir-relative path, or XDG_xxx_DIR="/yyy", where /yyy is an
          # absolute path. No other format is supported.
          #
          XDG_DESKTOP_DIR="{{ data_dir }}/Skrivebord"
          XDG_DOWNLOAD_DIR="{{ data_dir }}/Nedlastinger"
          XDG_TEMPLATES_DIR="{{ data_dir }}/Maler"
          XDG_DOCUMENTS_DIR="{{ data_dir }}/Dokumenter"
          XDG_MUSIC_DIR="{{ data_dir }}/Musikk"
          XDG_PICTURES_DIR="{{ data_dir }}/Bilder"
          XDG_VIDEOS_DIR="{{ data_dir }}/Videoklipp"
          XDG_PUBLICSHARE_DIR="{{ data_dir }}/Offentlig"
        dest: ~/.config/user-dirs.dirs
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: u=rw,g=,o=

    - name: Configure User Directories Locale
      become: true
      become_user: "{{ user_name }}"
      ansible.builtin.copy:
        content: |
          nb_NO
        dest: ~/.config/user-dirs.locale
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: u=rw,g=,o=
