- name: Configure Backups
  hosts: localhost
  become: true
  tasks:
    - name: Install GNOME Backups
      ansible.builtin.dnf:
        name: deja-dup
        state: present

    # dconf is a simple key-value store that GNOME uses to store user preferences.
    # All preferences are stored in a binary database file.
    # Layering of preferences is possible using multiple files.
    # For example, user defaults can be stored in one file, while system defaults can be stored in another.
    #
    # A profile is a list of binary database files that dconf searches to find the value for a key.
    # The first database in the list is the database used to write changes, while the remaining databases are read-only.
    # Ref: https://help.gnome.org/admin/system-admin-guide/stable/dconf-profiles.html.en
    - name: Configure dconf Profile
      ansible.builtin.copy:
        # The user-db line specifies the user database. The user database file is stored in ~/.config/dconf.
        # A system-db line specifies a system database. The system database files are stored in /etc/dconf/db.
        # The user database takes the highest priority, followed by the system databases in the given order.
        #
        # The service-db line instructs dconf to synchronize the user database with a plain text keyfile ~/.config/dconf/user.txt.
        # This keyfile can be modified using a text editor, and backed up using a backup tool.
        #
        # Each system database has a corresponding keyfile directory that has the same name as the database file with a .d extension.
        # For example, the keyfile directory /etc/dconf/db/local.d contains keyfiles for the /etc/dconf/db/local database.
        #
        # After modifying a keyfile, run "dconf update" to update the databases.
        content: |
          service-db:keyfile/user
          user-db:user
          system-db:local
          system-db:site
          system-db:distro
        # Profiles are stored in /etc/dconf/profile.
        # On user login, dconf applies the profile specified by the DCONF_PROFILE environment variable.
        # If the environment variable is not set, the profile named "user" is applied by default.
        dest: /etc/dconf/profile/user
        mode: u=rw,g=r,o=r
        # The above task prepends a service-db line to the default user profile included in Fedora Linux.

    # Configure Déjà Dup Backups settings:
    # - Backend: local folder
    # - Folders to back up: home and data disk
    # - Folders to ignore: trash
    # - Enable automatic backup: true
    # - Automatic backup frequency: weekly (7 days)
    # - Backup retention: three months (90 days)
    #
    # TODO:
    # Configure default backup storage location (/org/gnome/deja-dup/local/folder).
    # Currently not possibe due to a limitation in Deja Dup that prevents use of variables for this setting,
    # which means that we can't configure a default value that'll be unique for each user.
    - name: Configure Default Backup (Deja Dup) Settings
      ansible.builtin.copy:
        content: |
          [org/gnome/deja-dup]
          backend='drive'
          include-list=['$HOME']
          exclude-list=['$TRASH', '$DOWNLOAD']
          periodic=true
          periodic-period=7
          delete-after=90

          [org/gnome/deja-dup/drive]
          uuid='{{ lookup('ansible.builtin.env', 'BACKUP_DISK_UUID') }}'
        dest: /etc/dconf/db/local.d/deja-dup
        mode: u=rw,g=r,o=r
      notify:
        - Update System Databases

    - name: Lock Down Backup (Deja Dup) Settings
      ansible.builtin.copy:
        content: |
          /org/gnome/deja-dup/backend
          /org/gnome/deja-dup/include-list
          /org/gnome/deja-dup/exclude-list
          /org/gnome/deja-dup/periodic
          /org/gnome/deja-dup/periodic-period
          /org/gnome/deja-dup/delete-after
          /org/gnome/deja-dup/drive/uuid
        dest: /etc/dconf/db/local.d/locks/deja-dup
        mode: u=rw,g=r,o=r

  handlers:
    - name: Update System Databases
      ansible.builtin.command: dconf update
      register: dconf_update_output
      changed_when: dconf_update_output.rc == 0
