# This runbook will create a disabled user.
# An administrator must enable the user, for example by using the GNOME settings app.

- name: Create User
  hosts: localhost
  become: true
  vars_prompt:
    - name: user_name
      prompt: User name
      private: false
  vars_files:
    - vars/disk-vars.yml
  vars:
    backup_dir: /run/media/{{ user_name }}/{{ backup_disk_label }}
  tasks:
    - name: Create User
      ansible.builtin.user:
        name: "{{ user_name }}"
        # Add user to Docker group.
        # This allows user to run Docker commands without sudo.
        # Ref: https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user
        groups: docker
        append: true

    # TODO: if Deja Dup creates this for you, remove this task.
    - name: Create Backup Directory
      ansible.builtin.file:
        name: "{{ backup_dir }}"
        state: directory
        owner: "{{ user_name }}"
        group: "{{ user_name }}"
        mode: u=rwx,g=,o=

    # TODO: configure default backup storage location in playbook "configure-backups.yml". Currently not possible due to
    # a limitation in Deja Dup that prevents use of variables for this setting, which means that we can't configure a
    # default value that'll be unique for each user.
    - name: Configure Backup Storage Location
      become: true
      become_user: "{{ user_name }}"
      community.general.dconf:
        key: /org/gnome/deja-dup/drive/folder
        value: "'{{ user_name }}'"
