# This runbook will create a disabled user.
# An administrator must enable the user, for example by using the GNOME settings app.

- name: Create User
  hosts: localhost
  become: true
  vars_prompt:
    - name: user_name
      prompt: User name
      private: false
  tasks:
    - name: Create User
      ansible.builtin.user:
        name: "{{ user_name }}"
        # Add user to Docker group.
        # This allows user to run Docker commands without sudo.
        # Ref: https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user
        groups: docker
        append: true
