- name: Install Development Tools
  hosts: localhost
  become: true
  tasks:
    - name: Install Vim
      ansible.builtin.dnf:
        name: vim
        state: present

    # Ref: https://code.visualstudio.com/docs/setup/linux
    - name: Import Microsoft GPG key
      ansible.builtin.rpm_key:
        key: https://packages.microsoft.com/keys/microsoft.asc
        state: present
    - name: Install Visual Studio Code Repository
      ansible.builtin.copy:
        content: |
          [code]
          name=Visual Studio Code
          baseurl=https://packages.microsoft.com/yumrepos/vscode
          enabled=1
          gpgcheck=1
          gpgkey=https://packages.microsoft.com/keys/microsoft.asc
        dest: /etc/yum.repos.d/vscode.repo
        mode: u=rw,g=r,o=r
    - name: Install Visual Studio Code
      ansible.builtin.dnf:
        name: code
        state: present

    - name: Install GitHub CLI
      ansible.builtin.dnf:
        name: gh
        state: present

    # Ref: https://docs.docker.com/engine/install/fedora/
    - name: Install Docker Engine Repository
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/fedora/docker-ce.repo
        dest: /etc/yum.repos.d/docker-ce.repo
        mode: u=rw,g=r,o=r
    - name: Install Docker Engine
      ansible.builtin.dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

    # Ref: https://docs.docker.com/engine/install/linux-postinstall/#configure-docker-to-start-on-boot-with-systemd
    - name: Configure Docker to Start on Boot
      ansible.builtin.systemd_service:
        name: docker
        enabled: true
    - name: Configure containerd to Start on Boot
      ansible.builtin.systemd_service:
        name: containerd
        enabled: true

    - name: Install uv
      ansible.builtin.dnf:
        name: uv
        state: present

    - name: Install Azure CLI
      ansible.builtin.dnf:
        name: azure-cli
        state: present

    # Ref: https://developer.hashicorp.com/terraform/install
    - name: Install HashiCorp Repository
      ansible.builtin.get_url:
        url: https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
        dest: /etc/yum.repos.d/hashicorp.repo
        mode: u=rw,g=r,o=r
    - name: Install Terraform
      ansible.builtin.dnf:
        name: terraform
        state: present
